* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  place-content: center;
}
main {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 1976px;
  margin: 0 auto;
  position: relative;
  border: 1px solid #000000;
  overflow: hidden;
}
.bg-picture {
  width: 384px;
  height: 655px;
  position: absolute;
  right: -192px;
  top: -152px;
}
.blurr-effect-1 {
  width: 384px;
  height: 384px;
  flex-shrink: 0;
  border-radius: 384px;
  opacity: 0.2825;
  background: #40fff6;
  filter: blur(67.95704650878906px);
  position: absolute;
  left: 183px;
  top: -150px;
}
.blurr-effect-2 {
  width: 384px;
  height: 384px;
  flex-shrink: 0;
  border-radius: 384px;
  opacity: 0.1532;
  background: #ff9201;
  filter: blur(67.95704650878906px);
  position: absolute;
  top: 122px;
  left: 183px;
}
.image-container {
  width: 200.667px;
  height: auto;
  position: absolute;
  right: -140px;
  top: -40px;
}

#logo-id {
  margin-top: 64px;
  width: 144px;
  height: 32px;
}
h2 {
  color: var(--color-slate, #191826);
  font-feature-settings: "liga" off, "clig" off;
  /* mobile/text-preset-1 */
  font-family: "IBM Plex Sans";
  font-size: var(--font-size-mobile-text-preset-1, 40px);
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 40px */
  letter-spacing: -1px;
}
.hero {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.hero-bottom {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 64px;
}

p {
  color: var(--color-slate, #191826);
  font-feature-settings: "liga" off, "clig" off;

  /* mobile/text-preset-4 */
  font-family: "IBM Plex Sans";
  font-size: var(--font-size-mobile-text-preset-4, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.content {
  position: relative;
  padding-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.black-bg {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  height: 380px;
  background: var(--color-slate, #191826);
  overflow: hidden;
}

.application-img {
  position: absolute;
  top: 0px; /* Adjust as needed to overlap correctly */
  z-index: 1;
  width: 208.972px;
  height: 430px;
}
.bg-pattern-2 {
  width: 312px;
  height: 468px;
}
.premium {
  width: 375px;
  display: flex;
  height: 625px;
  padding: var(--spacing-600, 48px) var(--spacing-250, 20px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-600, 48px);
  align-self: stretch;
  background: var(--color-orange, #fa7453);
}
.premium-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-500, 40px);
  align-self: stretch;
}
.premium-top-pitch {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-300, 24px);
  align-self: stretch;
}
.premium h2 {
  letter-spacing: 0px;
}
h1 {
  color: var(--color-slate, #191826);
  font-feature-settings: "liga" off, "clig" off;

  /* desktop/text-preset-2 */
  font-family: "IBM Plex Sans";
  font-size: var(--font-size-desktop-text-preset-2, 64px);
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 70.4px */
}
.premium-top-price {
  display: flex;
  align-items: center;
  gap: var(--spacing-200, 16px);
}
span {
  color: var(--color-slate, #191826);
  font-feature-settings: "liga" off, "clig" off;

  /* desktop/text-preset-4 */
  font-family: "IBM Plex Sans";
  font-size: var(--font-size-desktop-text-preset-4, 20px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}
.premium-bottom {
  display: flex;
  height: 625px;

  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-600, 48px);
  align-self: stretch;
}
.download-button {
  display: flex;
  padding: var(--spacing-200, 16px) var(--spacing-400, 32px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-100, 8px);
  align-self: stretch;
  border-radius: 12px;
  background: var(--color-slate, #191826);
  outline: none;
  border: none;
}
.download-button-content {
  display: flex;
  align-items: center;
  gap: var(--spacing-100, 8px);
}
.download-button-text {
  color: var(--color-white, #fcfaf9);
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;

  /* desktop/text-preset-6 */
  font-family: "IBM Plex Sans";
  font-size: var(--font-size-desktop-text-preset-6, 18px);
  font-style: normal;
  font-weight: 700;
  line-height: 180%; /* 32.4px */
}
.apple .download-button-icon {
  width: 17.083px;
  height: 20px;
  margin-top: -2px;
}
.android .download-button-icon {
  width: 16.702px;
  height: var(--spacing-250, 20px);
  margin-top: 4px;
}
.android .download-button-text {
  color: var(--color-slate, #191826);
}
.android:hover {
  background: var(--color-yellow, #ffb964);
}
.apple:hover .download-button-text {
  color: var(
    --color-slate,
    #191826
  ); /* Ensure .button-text color changes on hover */
}
footer {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 357px;
  padding: 0px 20px 80px 20px;
  gap: 32px;
}
.footer-social {
  display: flex;
  align-items: center;
  gap: var(--spacing-400, 32px);
}
h3 {
  color: var(--color-slate, #191826);
  font-feature-settings: "liga" off, "clig" off;

  /* desktop/text-preset-5-bold */
  font-family: "IBM Plex Sans";
  font-size: var(--font-size-desktop-text-preset-5, 16px);
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
}

/*
.marker {
  width: 25px;
  height: 1619px;
  background-color: red;
  position: absolute;
  top: 0px;
  right: 250px;
  z-index: 2;;
}*/
