* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  place-content: center;
}
main {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 1976px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.bg-picture {
  width: 384px;
  height: 655px;
  position: absolute;
  right: -192px;
  top: -152px;
}
.blurr-effect-1 {
  width: 384px;
  height: 384px;
  flex-shrink: 0;
  border-radius: 384px;
  opacity: 0.2825;
  background: #40fff6;
  filter: blur(67.95704650878906px);
  position: absolute;
  left: 183px;
  top: -150px;
}
.blurr-effect-2 {
  width: 384px;
  height: 384px;
  flex-shrink: 0;
  border-radius: 384px;
  opacity: 0.1532;
  background: #ff9201;
  filter: blur(67.95704650878906px);
  position: absolute;
  top: 122px;
  left: 183px;
}
.blurr-effect-3 {
  position: absolute;
}
.blurr-effect-4 {
  position: absolute;
}
.image-container {
  width: 200.667px;
  height: auto;
  position: absolute;
  right: -140px;
  top: -40px;
}

#logo-id {
  margin-top: 64px;
  width: 144px;
  height: 32px;
}
h2 {
  color: var(--color-slate, #191826);
  font-feature-settings: "liga" off, "clig" off;
  /* mobile/text-preset-1 */
  font-family: "IBM Plex Sans";
  font-size: var(--font-size-mobile-text-preset-1, 40px);
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 40px */
  letter-spacing: -1px;
}
.hero {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.hero-bottom {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 64px;
}

p {
  color: var(--color-slate, #191826);
  font-feature-settings: "liga" off, "clig" off;

  /* mobile/text-preset-4 */
  font-family: "IBM Plex Sans";
  font-size: var(--font-size-mobile-text-preset-4, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.content {
  position: relative;
  padding-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.black-bg {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  height: 380px;
  background: var(--color-slate, #191826);
  overflow: hidden;
}

.application-img {
  position: absolute;
  top: 0px; /* Adjust as needed to overlap correctly */
  z-index: 1;
  width: 208.972px;
  height: 430px;
}
.bg-pattern-2 {
  width: 312px;
  height: 468px;
}
.premium {
  width: 375px;
  display: flex;
  height: 625px;
  padding: var(--spacing-600, 48px) var(--spacing-250, 20px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-600, 48px);
  align-self: stretch;
  background: var(--color-orange, #fa7453);
}
.premium-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-500, 40px);
  align-self: stretch;
}
.premium-top-pitch {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-300, 24px);
  align-self: stretch;
}
.premium h2 {
  letter-spacing: 0px;
}
h1 {
  color: var(--color-slate, #191826);
  font-feature-settings: "liga" off, "clig" off;

  /* desktop/text-preset-2 */
  font-family: "IBM Plex Sans";
  font-size: var(--font-size-desktop-text-preset-2, 64px);
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 70.4px */
}
.premium-top-price {
  display: flex;
  align-items: center;
  gap: var(--spacing-200, 16px);
}
span {
  color: var(--color-slate, #191826);
  font-feature-settings: "liga" off, "clig" off;

  /* desktop/text-preset-4 */
  font-family: "IBM Plex Sans";
  font-size: var(--font-size-desktop-text-preset-4, 20px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}
.premium-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-600, 48px);
  align-self: stretch;
}
.download-button {
  display: flex;
  padding: var(--spacing-200, 16px) var(--spacing-400, 32px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-100, 8px);
  align-self: stretch;
  border-radius: 12px;
  background: var(--color-slate, #191826);
  outline: none;
  border: none;
}
.download-button-content {
  display: flex;
  align-items: center;
  gap: var(--spacing-100, 8px);
}
.download-button-text {
  color: var(--color-white, #fcfaf9);
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;

  /* desktop/text-preset-6 */
  font-family: "IBM Plex Sans";
  font-size: var(--font-size-desktop-text-preset-6, 18px);
  font-style: normal;
  font-weight: 700;
  line-height: 180%; /* 32.4px */
}
.apple .download-button-icon {
  width: 17.083px;
  height: 20px;
  margin-top: -2px;
}
.android .download-button-icon {
  width: 16.702px;
  height: var(--spacing-250, 20px);
  margin-top: 4px;
}
.android .download-button-text {
  color: var(--color-slate, #191826);
}
.android:hover {
  background: var(--color-yellow, #ffb964);
}
.apple:hover .download-button-text {
  color: var(
    --color-slate,
    #191826
  ); /* Ensure .button-text color changes on hover */
}
footer {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 357px;
  padding: 0px 20px 80px 20px;
  gap: 32px;
}
.footer-social {
  display: flex;
  align-items: center;
  gap: var(--spacing-400, 32px);
}
h3 {
  color: var(--color-slate, #191826);
  font-feature-settings: "liga" off, "clig" off;

  /* desktop/text-preset-5-bold */
  font-family: "IBM Plex Sans";
  font-size: var(--font-size-desktop-text-preset-5, 16px);
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
}
.footer-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.footer-content-and-social-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media (min-width: 768px) {
  picture {
    display: none;
  }
  main {
    width: 758px;
    height: 1909px;
    overflow: hidden;
    gap: 200px;
  }
  .blurr-effect-1 {
    top: 104px;
    left: 297px;
  }
  .blurr-effect-2 {
    top: 375px;
    left: 297px;
  }
  .blurr-effect-3 {
    position: absolute;
    width: 384px;
    height: 384px;
    left: -101px;
    top: -192px;
    flex-shrink: 0;
    opacity: 0.15;
    border-radius: 384px;
    background: var(--color-orange, #fa7453);
    filter: blur(67.95704650878906px);
  }
  .blurr-effect-4 {
    position: absolute;
    width: 384px;
    height: 384px;
    border-radius: 384px;
    opacity: 0.15;
    background: var(--color-orange, #fa7453);
    filter: blur(67.95704650878906px);
    right: -178px;
    bottom: -193px;
  }
  .hero {
    padding-left: 44px;
    padding-right: 220px;
    gap: 128px;
  }
  h2 {
    color: var(--color-slate, #191826);
    font-feature-settings: "liga" off, "clig" off;

    /* tablet/text-preset-1 */
    font-family: "IBM Plex Sans";
    font-size: var(--font-size-tablet-text-preset-1, 64px);
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 64px */
    letter-spacing: -1px;
  }
  p {
    color: var(--color-slate, #191826);
    font-feature-settings: "liga" off, "clig" off;

    /* tablet/text-preset-4 */
    font-family: "IBM Plex Sans";
    font-size: var(--font-size-tablet-text-preset-4, 18px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
  }
  .image-container {
    right: 49.66px;
    top: -40px;
  }
  .content {
    padding-top: 0px;
    position: relative;
  }
  footer #logo-id {
    margin-top: 0px;
  }
  footer {
    padding: 64px 40px 80px 40px;
    width: auto;
    height: auto;
  }
  .black-bg {
    height: 600px;
    min-width: 680px;
    padding-right: var(--spacing-800, 64px);
    border-radius: 12px;
    position: relative;
  }
  .application-img {
    position: absolute;
    top: -112px; /* Adjust as needed to overlap correctly */
    left: 87px;
    z-index: 1;
    width: 270.206px;
    height: 556px;
  }
  .bg-pattern-2 {
    position: absolute;
    width: 312px;
    height: 468px;
    top: 0px;
    left: 0px;
  }
  .premium {
    position: absolute;
    left: 304px;
    top: 86px;
    width: 356px;
    height: 628px;
    border-radius: var(--spacing-200, 16px);
    z-index: 2;
    gap: var(--spacing-600, 48px);
    padding: 48px;
  }
  .premium-top-pitch h2 {
    color: var(--color-slate, #191826);
    font-feature-settings: "liga" off, "clig" off;

    /* desktop/text-preset-3 */
    font-family: "IBM Plex Sans";
    font-size: var(--font-size-desktop-text-preset-3, 40px);
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 44px */
  }

  .premium-bottom {
    gap: 16px;
  }

  .footer-content-and-social-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }
  footer p {
    font-size: var(--font-size-desktop-text-preset-5, 16px);
  }
}

@media (min-width: 1025px) {
  main {
    width: 1440px;
    height: 1811px;
  }

  .blurr-effect-1 {
    top: 104px;
    left: 922px;
    background-color: ;
  }
  .blurr-effect-2 {
    top: 375px;
    left: 922px;
  }
  .blurr-effect-3 {
    position: absolute;
    width: 384px;
    height: 384px;
    left: -101px;
    top: -192px;
    flex-shrink: 0;
    opacity: 0.15;
    border-radius: 384px;
    background: var(--color-orange, #fa7453);
    filter: blur(67.95704650878906px);
  }
  .blurr-effect-4 {
    position: absolute;
    width: 384px;
    height: 384px;
    border-radius: 384px;
    opacity: 0.15;
    background: var(--color-orange, #fa7453);
    filter: blur(67.95704650878906px);
    right: -178px;
    bottom: -193px;
  }

  .hero {
    padding-left: 160px;
  }
  .image-container {
    right: 112px;
    top: -40px;
  }
  .hero-bottom h2 {
    color: var(--color-slate, #191826);
    font-feature-settings: "liga" off, "clig" off;

    /* desktop/text-preset-1 */
    font-family: "IBM Plex Sans";
    font-size: var(--font-size-desktop-text-preset-1, 88px);
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 88px */
    letter-spacing: -1px;
  }

  .hero-bottom p {
    max-width: 736px;
    align-self: stretch;
    color: var(--color-slate, #191826);
    font-feature-settings: "liga" off, "clig" off;

    /* desktop/text-preset-4 */
    font-family: "IBM Plex Sans";
    font-size: var(--font-size-desktop-text-preset-4, 20px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
  }
  .hero-bottom p {
    max-width: 736px;
    align-self: stretch;
    color: var(--color-slate, #191826);
    font-feature-settings: "liga" off, "clig" off;

    /* desktop/text-preset-4 */
    font-family: "IBM Plex Sans";
    font-size: var(--font-size-desktop-text-preset-4, 20px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
  }
  .black-bg {
    height: 600px;
    width: 1120px;
  }

  .application-img {
    position: absolute;
    top: -126px; /* Adjust as needed to overlap correctly */
    left: 276px;
    z-index: 1;
    width: 280px;
    height: 606px;
  }

  .bg-pattern-2 {
    position: absolute;
    width: 312px;
    height: 468px;
    top: 0px;
    left: 367px;
  }

  .premium {
    left: 699px;
    top: 89px;
    width: 512px;
    height: 632px;
    padding: 56px;
  }

  .premium p {
    font-size: var(--font-size-desktop-text-preset-4, 20px);
  }
  
  footer {
    flex-direction: row;
    display: flex;
    width: 1120px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    pad: 0xpx;
    margin: 0px auto;
    gap: 128px
  
  }
  footer #logo-id {
    align-self: start;
  
  }
  
  .footer-content-and-social-wrapper {
    flex-grow: 2;
  
  }

}

/*
.marker {
  width: 25px;
  height: 1515px;
  background-color: red;
  position: absolute;
  top: 0px;
  right: 320px;
  z-index: 4;
}*/
